@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("/css/fonts/OpenSans-Regular.ttf");
  src: url("/css/fonts/OpenSans-Regular.wOFF");
  src: url("/css/fonts/OpenSans-Regular.wOFF2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("/css/fonts/OpenSans-Bold.ttf");
  src: url("/css/fonts/OpenSans-Bold.wOFF");
  src: url("/css/fonts/OpenSans-Bold.wOFF2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.header, .footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(10,14,52);
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

 .overlay {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(10,14,52,.92);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.app_store, .google_store {
  box-sizing: border-box;
  background-color: #5e42b0;
  border-radius: 60px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.apple_icon, .google_icon {
  fill: #ffffff;
}

.apple_button, .google_button {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  margin: auto;
}

.app_text, .google_text {
  text-transform: uppercase;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.section_01 {
  background: linear-gradient(#ffffff 50%, rgba(94,66,176,.0) 50%, rgba(94,66,176,.0) 28%, #5e42b0 78%);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.section_02 {
  background: linear-gradient(to bottom, #ffffff 50%, rgba(10,14,52,.0) 50%, rgba(10,14,52,.0) 28%, #0a0e34 78%);
  background-size: cover;
}

.card_02 {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  box-sizing: border-box;
}

@media (min-width: 961px) and (max-width: 1920px) {
  html {
    font-size: 125%;
  }
  .header {
    background-image: url("http://images.vfl.ru/ii/1554386197/01da363c/26053956.jpg");
    width: 100%;
    max-width: 1920px;
  }

  .footer {
    background-image: url("http://images.vfl.ru/ii/1554325864/3e4f5b47/26045729.jpg");
    width: 100%;
    max-width: 1920px;
  }

  .app_store, .google_store {
    width: 15.5em;
    height: 4em;
  }

  .apple_icon, .google_icon {
    width: 2.1em;
    height: 2.4em;
  }

  .app_text, .google_text {
    font-size: 0.7em;
    line-height: 1em;
  }

  .buttons {
    width: 34em;
    margin-top: 10.5em;
    padding-bottom: 5em;
  }

  .card_01 {
    padding-left: 20%;
  }

  .card_02 {
   background-image:
  url("http://images.vfl.ru/ii/1554207087/4b98f2e8/26025074.png");
    width: 100%;
    max-width: 1920px;
    background-position: 90%;
  }

  .recruited {
    display: block;
    padding-left: 2em;
  }

  .play {
    display: block;
    padding-left: 7em;
  }

  h1 {
    font-size: 4.5em;
    margin-top: 3em;
    line-height: 1em;
  }

  h2 {
    font-size: 4em;
    padding-bottom: 1.25em;
    line-height: 1em;
  }

  h3 {
    font-size: 1.8em;
    padding-bottom: 0.8em;
    line-height: 1em;
  }

  .small {
    font-size: 0.5em;
    border-bottom: 0.15em solid #5e42b0;
    width: 1.15em;
    color: #000000;
  }

  .small_01 {
    color: #000000;
    font-size: 0.5em;
    border-bottom: 0.15em solid #efefef;
  }

  .small_02 {
    font-size: 0.5em;
    color: #9173e6;
    border-bottom: 0.15em solid #ffffff;
  }

  .text {
    padding-bottom: 5.5em;
    line-height: 1.5em;
  }

  .text_growth {
    line-height: 1.5em;
    padding-bottom: 2.75em;
  }

  .section_01 {
    max-width: 1920px;
  }

  .description_01 {
    box-sizing: border-box;
    width: calc(100% - 50em);
    padding-right: 11em;
    padding-top: 0;
    border: 1px solid;
  }

  .description_02 {
    box-sizing: border-box;
    width: 35%;
    margin-left: 9.5em;
    padding-top: 5.5em;
    margin-right: auto;
  }

   .card_gallery {
    font-size: 1.2em;
  }

  .image_active {
    background-image: url("http://images.vfl.ru/ii/1554556505/cc03e842/26080989.jpg")
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    max-width: 1920px;
  }

  .description_gallery {
    width: 38%;
    margin-right: auto
    margin-top: 10em
  }

  .text_gallery {
    margin-top: 4.5em;
    margin-bottom: 10em;
  }

  .square {
    width: 6em;
    height: 6em;
    background-color: #5e42b0;
    font-weight: bold;
    text-align: center;
    color: #f5f6f7;
    align-self: center;
 }

 .image_contact {
   background-image: url("http://images.vfl.ru/ii/1554556505/cc03e842/26080989.jpg");
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: 100%;
   width: 100%;
   max-width: 1920px;
 }
}

@media (min-width: 641px) and (max-width: 960px) {
  html {
    font-size: 100%;
  }

  .header {
    background-image: url("http://images.vfl.ru/ii/1554386279/facf3a92/26053970.jpg");
    width: 100%;
    max-width: 960px;
  }

  .footer {
    background-image: url("http://images.vfl.ru/ii/1554325957/e5d8959c/26045739.jpg");
    width: 100%;
    max-width: 960px;
  }

  .app_store, .google_store {
    width: 19.4em;
    height: 4.75em;
  }

  .apple_icon, .google_icon {
    width: 2.25em;
    height: 2.6em;
  }

  .app_text, .google_text {
    font-size: 0.875em;
    line-height: 1em;
  }

  .buttons {
    width: 40em;
    margin-top: 18.75em;
    padding-bottom: 5.6em;
  }

  .card_02 {
    background-image:
  url("http://images.vfl.ru/ii/1554207087/4b98f2e8/26025074.png");
    width: 100%;
    max-width: 960px;
    background-position: 100%;
  }

  .recruited {
    display: block;
    padding-left: 1.4em;
  }

  .play {
    display: block;
    padding-left: 3em;
    margin-top: 0.4em;
  }

  h1 {
    font-size: 4em;
    margin-top: 3em;
    line-height: 1em;
  }

  h2 {
    font-size: 5em;
    padding-bottom: 0.7em;
    line-height: 1em;
  }

  h3 {
    font-size: 2em;
    padding-bottom: 1em;
    line-height: 1em;
  }

  .small {
    font-size: 0.5em;
    border-bottom: 0.15em solid #5e42b0;
    width: 1.15em;
    color: #000000;
  }

  .small_01 {
    color: #000000;
    font-size: 0.5em;
    border-bottom: 0.15em solid #efefef;
  }

   .small_02 {
    font-size: 0.5em;
    color: #9173e6;
    border-bottom: 0.15em solid #ffffff;
  }

  .description_01 {
    box-sizing: border-box;
    width: 43%;
    margin-left: 32em;
    margin-right: auto;
    padding-top: 5em;
  }

  .description_02 {
    box-sizing: border-box;
    width: 40%;
    margin-left: 1.8em;
    margin-right: auto;
  }

  .text {
    padding-bottom: 5em;
    line-height: 1.5em;
  }

  .text_growth {
    line-height: 1.5em;
    padding-bottom: 2.5em;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 93.75%;
  }

  .header {
    background-image: url("http://images.vfl.ru/ii/1554323168/7c0ae1f5/26045423.jpg");
    width: 100%;
    max-width: 640px;
  }

  .footer {
    background-image: url("http://images.vfl.ru/ii/1554325957/e5d8959c/26045739.jpg");
    width: 100%;
    max-width: 640px;
  }

  .apple_icon, .google_icon {
    width: 1.4em;
    height: 1.6em;
  }

  .app_store, .google_store {
    width: 18.6em;
    height: 2.3em;
  }

  .app_text, .google_text {
    font-size: 0.5em;
    line-height: 1em;
  }

  .buttons {
    width: 19em;
    height: 6em;
    margin-top: 6em;
    padding-bottom: 6em;
  }

  .apple_icon, .google_icon {
    width: 1.5em;
    height: 1.6em;
  }

  .card_02 {
    background-image:
  url("http://images.vfl.ru/ii/1554496786/3aa99c64/26073695.png");
    width: 100%;
    max-width: 640px;
    background-size: 70%;
    background-position: 60% 15%;
  }

  .recruited {
    display: block;
    padding-left: 0.6em;
  }

  .play {
    display: block;
    padding-left: 2.25em;
    margin-top: 1em;
  }

  h1 {
    font-size: 1.9em;
    margin-top: 4em;
    line-height: 1em;
  }

  h2 {
    font-size: 3.3em;
    padding-bottom: 6.5em;
    line-height: 1em;
  }

  h3 {
    font-size: 2.1em;
    padding-bottom: 1em;
    line-height: 1em;
  }

  .small {
    font-size: 0.5em;
    border-bottom: 0.15em solid #5e42b0;
    width: 1.15em;
    color: #000000;
  }

  .small_01 {
    color: #000000;
    font-size: 0.5em;
    border-bottom: 0.15em solid #efefef;
  }

  .small_02 {
    font-size: 0.5em;
    color: #9173e6;
    border-bottom: 0.15em solid #ffffff;
  }

  .description_02 {
    box-sizing: border-box;
    width: 80%;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1.7em;
  }

  .text, .text_growth {
    padding-bottom: 3.6em;
    line-height: 1.5em;
    text-align: left;
  }
}

h1 {
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: auto;
  margin-left: auto;
}

.card_name {
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.subtitle {
  color: #c1c1c1;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

@media (min-width: 961px) and (max-width: 1920px) {
  .card_gallery {
    font-size: 24px;
  }

  .image_active {
    background-image: url("http://images.vfl.ru/ii/1554556505/cc03e842/26080989.jpg")
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    max-width: 1920px;
  }

  .description_gallery {
    width: 38%;
    margin-right: auto
    margin-top: 10em
  }

  .text_gallery {
    margin-top: 4.5em;
    margin-bottom: 10em;
  }

  .square {
    width: 6em;
    height: 6em;
    background-color: #5e42b0;
    font-weight: bold;
    text-align: center;
    color: #f5f6f7;
    align-self: center;
 }

 .image_contact {
   background-image: url("http://images.vfl.ru/ii/1554556505/cc03e842/26080989.jpg");
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: 100%;
   width: 100%;
   max-width: 1920px;
 }
}

.text, .text_growth {
  margin-top: 0;
  margin-bottom: 0;
}

.text_growth {
  color: #ffffff;
}

.logo {
  fill: #ffffff;
  width: 105px;
  padding-top: 20px;
  padding-left: 10px;
}

.logo_text {
  width: 190px;
  height: 52px;
  fill: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.footer .logo_text {
  padding-bottom: 50px;
}

.logo_cover {
  width: 130px;
  height: 137px;
  background-color: #5e42b0;
  border-radius: 20px;
  margin-left: 525px;
  margin-top: 230px;
}

.image_active, .image_contact, .image_work {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.card_gallery {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.card_gallery h2 {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}
